.shell-content-card a {
    text-decoration: none;
}

.shell-content-card .card > i.icon-back {
    position: absolute;
    font-size: 9rem;
    top: 1rem;
    right: 1rem;
    opacity: .1;
    filter: blur(14px);
}

.shell-content-card .card > i {
    position: absolute;
    font-size: 9rem;
    top: 1rem;
    right: 1rem;
    opacity: .07;
    /*filter: blur(3px);*/
}

.shell-content-card .card {
    border-radius: calc(var(--bs-border-radius) * 4);
    border: none;
    height: 11rem;
}

#shell-content-home h2 {
    margin-top: 1.6rem;
}

#shell-content-home p {
    font-size: 1.2rem;
    opacity: .95;
}

.shell-content-card a:focus-visible {
    box-shadow: 0 0 0 .35rem rgba(var(--elements-primary-bg-shaded));
    border-radius: calc(var(--bs-border-radius) * 4);
    display: block;
}
