:root {
    --elements-font-size: 18px;
    --elements-spacing-x: calc(var(--elements-font-size) / 1.5);
    --elements-spacing-y: calc(var(--elements-font-size) / 4);
    --bs-border-radius: calc(var(--elements-font-size) / 3);
    --bs-border-radius-lg: calc(var(--elements-font-size) / 2);
    --bs-border-radius-xl: calc(var(--elements-font-size) / 1);
}

:focus-visible {
    outline: none;
}

::selection {
    background-color: rgba(var(--elements-primary-bg), var(--elements-primary-bg-alpha)) !important;
}

a,
a:hover {
    color: rgb(var(--elements-primary-bg));
}

body {
    font-size: var(--elements-font-size);
}

.font-monospace {
    font-size: calc(var(--elements-font-size) * 0.95) !important;
}

/* Remove iOS top shadow in controls */
textarea, input:matches([type="text"], [type="number"], [type="password"], [type="search"], [type="email"], [type="tel"], [type="url"], [type="range"]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Disable text selection when compiled for PROD environment */
body.prod {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}
