html {
    /* See _PageHeader.gsp */
    font-size: var(--elements-font-size);
    --elements-spacing-x: .65rem;
    --elements-spacing-y: .25rem;
    --bs-border-radius: .3rem;
    --bs-border-radius-lg: .5rem;
    --bs-border-radius-xl: 1rem;
}

body {
    visibility: hidden;
}

.me-2 {
    margin-right: var(--elements-spacing-x) !important;
}

:focus-visible {
    outline: none;
}

::selection {
    background-color: rgba(var(--elements-primary-bg-shaded)) !important;
}

/* See: https://github.com/twbs/bootstrap/pull/41246
*/
.user-select-text {
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  user-select: text !important;
}

a,
a:hover {
    color: rgb(var(--elements-primary-bg));
}

.font-monospace {
    font-size: .95rem !important;
}

.dev-hints {
    background-color: rgba(var(--elements-primary-bg-shaded));
    color: rgb(var(--elements-primary-bg));
    border-radius: var(--bs-border-radius-lg);
    position: relative;
    z-index: 1040;
}

/* Remove iOS top shadow in controls */
textarea, input:matches([type="text"], [type="number"], [type="password"], [type="search"], [type="email"], [type="tel"], [type="url"], [type="range"]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Disable text selection when compiled for PROD environment */
body.prod {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}
