#page-content-scrollbar-box {
    position: fixed;
    bottom: 0;
    background-color: white;
    padding: calc(var(--elements-font-size) * .6);
    padding-top: 0;
    z-index: 999;
    display: none;
}

#page-content-scrollbar {
    overflow-x: scroll;
}

#page-content-scrollbar::-webkit-scrollbar {
    width: calc(var(--elements-font-size) * .6);
    height: calc(var(--elements-font-size) * .6);
}

#page-content-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(var(--elements-primary-bg-shaded));
    border-radius: var(--bs-border-radius);
}

#page-content-scrollbar-content-mirror {
    height: calc(var(--elements-font-size) * .5);
}
