#page-messagebox .modal-content {
    background-color: #303030;
    color: white;
}

#page-messagebox .modal-footer {
    background-color: transparent;
    margin-bottom: 0;
}

#page-messagebox input:focus,
#page-messagebox input {
    border-radius: var(--bs-border-radius-lg);
    background-color: #545454;
    border: none;
    font-weight: bold;
}

#page-messagebox input::placeholder {
    font-weight: normal;
    color: #a4a4a4;
}

#page-messagebox .message-icon {
    position: absolute;
    font-size: 25vh;
    top: -3vh;
    left: -5vh;
    opacity: .05;
}