.component-sticky {
    position: fixed;
    z-index: 1000;
    width: 100% !important;
}

@media (min-width: 1399.98px) {
    .component-sticky {
        width: calc(100% - 15rem) !important;
    }
}
