.input-group-text {
    padding: var(--elements-spacing-y) var(--elements-spacing-x);
}

.input-group:has(.control-text-field) :first-child {
    border-top-left-radius: var(--bs-border-radius-sm);
    border-bottom-left-radius: var(--bs-border-radius-sm);
}

.input-group:has(.control-text-field) :last-child {
    border-top-right-radius: var(--bs-border-radius-sm);
    border-bottom-right-radius: var(--bs-border-radius-sm);
}

.input-group:has(.input-group-text:first-child) input[type],
.input-group:has(button:first-child) input[type] {
    padding-left: .5rem !important;
}

.input-group .input-group-text {
    border-top-left-radius: var(--bs-border-radius-sm) !important;
    border-bottom-left-radius: var(--bs-border-radius-sm) !important;
    padding-right: var(--bs-border-width);
}

.input-group .show-password,
.input-group .show-password:active,
.input-group .show-password:hover {
    background-color: rgb(var(--elements-main-bg));
    color: rgb(var(--elements-main-text));
}

.input-group .show-password i {
    color: rgba(var(--elements-main-text), .7);
}

.input-group ::placeholder {
    color: rgb(var(--elements-main-text));
    font-weight: normal;
    opacity: .5;
}

/* Edge 12 -18 */
.input-group ::-ms-input-placeholder {
    color: rgb(var(--elements-main-text));
    font-weight: normal;
    opacity: .5;
}

/* Hide MS password field reveal button */
::-ms-reveal {
    display: none;
}