/*
 *= require ShellMenu
 *= require ShellNavbar
 *= require ShellUserMenu
 */

body {
    pointer-events: all;
}

.offcanvas-backdrop.show {
    opacity: 1;
    background-color: rgba(30,30,30,.3);
    backdrop-filter: blur(21px) grayscale(100%);
    -webkit-backdrop-filter: blur(21px) grayscale(100%);
}

.offcanvas-backdrop.show:has(.no-slide) {
     display: none;
}

.offcanvas-backdrop {
    opacity: 0;
    background-color: rgba(30,30,30,.3);
    backdrop-filter: blur(21px) grayscale(100%);
    -webkit-backdrop-filter: blur(21px) grayscale(100%);
}

#shell-navbar-menu-toggle,
#shell-navbar-menu-close {
    display: none;
}

@media (max-width: 1399.98px) {
    #shell-navbar,
    #shell-content {
        margin-left: 0 !important;
    }

    #shell-menu {
        z-index: 1041 !important;
    }

    #shell-navbar-menu-toggle,
    #shell-navbar-menu-close {
        display: block;
    }
}

@media (min-width: 1399.98px) {
    .component-sticky {
        width: calc(100% - var(--elements-font-size) * 15) !important;
    }
}

#shell-content {
    margin-left: calc(var(--elements-font-size) * 15);
    margin-top: calc(var(--elements-font-size) * 3.3);
    padding-top: 1px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: calc(var(--elements-font-size) * 2) !important;
}
