a.btn,
button,
.btn-group a.btn,
.btn-group button,
.dropdown-toggle {
    border-radius: var(--bs-border-radius);
    padding: var(--elements-spacing-y) .5rem;
    border: none;
}

.component-button button {
    padding-left: .75rem;
    padding-right: .75rem;
}

.component-button:not(:has(i)) span {
    padding-left: var(--elements-spacing-y);
}

.component-button .component-button-default-action {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.component-button[readonly] {
    cursor: default;
    opacity: .5;
}

.component-button[readonly] .dropdown-toggle {
    opacity: 1;
}

.component-button .component-link:not(:last-child),
.input-group .component-link:not(:last-child) {
    margin-right: 2px;
}

a.btn,
a.btn:hover,
a.btn:focus,
a.btn:active,
button:hover,
button:focus,
button:active,
button {
    font-weight: normal;
}

.dropdown,
.dropdown-menu {
    padding: var(--elements-spacing-y);
}

.dropdown-menu {
    border-radius: var(--bs-border-radius-lg);
    box-shadow: 0 .25rem .75rem rgba(var(--bs-body-color-rgb), .15);
    background-color: rgba(var(--elements-main-fg), .6);
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
    border: none;
}

.dropdown-item {
    padding: .25rem .75rem;
}

.dropdown-item:focus,
.dropdown-item:hover {
    border-radius: var(--bs-border-radius-sm);
    outline: none;
}

.dropdown-divider {
    margin: .5rem;
    border-top: 1px solid rgba(var(--elements-main-text), .2);
}

a.btn:active,
button:active {
    transform: translateY(.05rem);
}

/* COLORS
*/
.btn.dropdown-toggle:focus-visible,
.form-control:focus-visible {
    box-shadow: 0 0 0 .25rem rgb(var(--elements-primary-bg-shaded));
}

.dropdown-menu a {
    color: rgb(var(--elements-main-text));
}

a.btn,
a.btn:hover,
a.btn:focus,
a.btn:active,
button,
button:hover,
button:focus,
button:active,
.btn-group a.btn,
.btn-group a.btn:hover,
.btn-group a.btn:focus,
.btn-group a.btn:active,
.btn-group button:hover,
.btn-group button:focus,
.btn-group button:active,
.btn-group button,
.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active,
.btn-group :not(.btn-check)+.btn:active {
    background-color: rgb(var(--elements-secondary-bg));
    color: rgb(var(--elements-secondary-text));
    border: none;
}
