.tooltip {
    --bs-tooltip-font-size: .9rem;
    --bs-tooltip-color: rgb(var(--elements-frame-text));
    --bs-tooltip-bg: rgb(var(--elements-frame-bg));
    --bs-border-radius: var(--bs-border-radius-sm);
}

.tooltip.show {
    opacity: 1;
}

.image-icon {
    margin-top: -.2rem;
    height: 1.3rem;
    border: .15rem solid rgb(var(--elements-main-fg));
    border-radius: 100%;
}

.component-label {
    border-radius: 0;
}

.component-label.tag {
    padding: var(--elements-spacing-y) var(--elements-spacing-x);
    border-radius: var(--bs-border-radius-sm);
    border: none !important;
    height: 100%;
}

.component-label.text-monospace.tag {
    padding: 7px 9px;
}

.no-wrap,
.no-wrap .text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.soft-wrap .text {
    white-space: normal;
    word-wrap: break-word;
}

.line-wrap .text {
    white-space: pre-line;
    word-wrap: break-word;
}

.line-break .text {
    white-space: pre;
    word-wrap: break-word;
    overflow-x: scroll;
}
