.component-separator {
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 0;
    padding-bottom: .5rem;
    overflow: hidden;
}

.component-separator.squeeze {
    margin-top: 0;
}

.component-separator i {
    margin-right: .5rem;
}

/* COLORS
*/
.component-separator {
    border-bottom: var(--bs-border-width) solid rgb(var(--elements-main-bg));
    background-color: rgb(var(--elements-main-fg));
}
