.component-actionbar .btn-group a.btn,
.component-actionbar .btn-group a.btn:hover,
.component-actionbar .btn-group a.btn:focus,
.component-actionbar .btn-group a.btn:active,
.component-actionbar .btn-group button.dropdown-toggle,
.component-actionbar .btn-group button.dropdown-toggle:focus,
.component-actionbar .btn-group button.dropdown-toggle:active,
.component-actionbar .btn-group button.dropdown-toggle:hover {
    background-color: rgb(var(--elements-main-fg));
    color: rgb(var(--elements-main-text));
    font-weight: normal;
}
