body, html {
    height: 100%;
    margin: 0;
}

.background-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.page-login  {
    margin: 0;
    position: absolute;
    width: 400px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

@media (max-width: 420px) {
    .page-login  {
        width: calc(100% - 20px);
    }
}

.page-login .component-form .input-group input {
    font-weight: normal;
}

.page-login-box {
    border-radius: var(--bs-border-radius-xl);
    box-shadow: 0 .25rem .75rem rgba(var(--bs-body-color-rgb), .15);
    background-color: rgba(var(--elements-main-bg), .6);
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
}

.page-login-box .component-form {
    background-color: transparent;
}

.page-login-logo {
    width: 100%;
}

.page-login-logo img {
    height: 45px;
    width: auto;
}

.page-login-error {
    color: rgb(var(--elements-required-text));
}

.page-login .input-group:has(#username) > * {
    border-top-left-radius: var(--bs-border-radius);
    border-top-right-radius: var(--bs-border-radius);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.page-login .input-group:has(#password) {
    margin-top: .25rem !important;
}

.page-login .input-group:has(#password) > input {
    border-bottom-left-radius: var(--bs-border-radius);
    border-top-left-radius: 0;
}

.page-login .input-group:has(#password) > button {
    border-bottom-right-radius: var(--bs-border-radius);
    border-top-right-radius: 0;
}

[data-21-id="passwordRecoveryLink"],
[data-21-id="copy"] {
    font-size: .9rem;
}
