.control-checkbox-simple .form-check-input {
    border-radius: 2rem;
    background-color: rgb(var(--elements-main-bg));
    border: .15rem solid rgb(var(--elements-secondary-bg));
    padding: 0;
    width: 1.3rem;
    height: 1.3rem;
}

.control-checkbox-simple .form-check-input:checked {
    background-color: rgb(var(--elements-primary-bg));
    border: none;
}

.control-checkbox.input-group-text {
    border-radius: var(--bs-border-radius-lg) !important;
    color: rgb(var(--elements-main-text)) !important;
    width: 100%;
    font-weight: normal;
    text-align: left;
}

.control-checkbox.input-group-text .text-wrapper {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.control-checkbox .form-switch .form-check-input:hover,
.control-checkbox .form-switch .form-check-input:focus,
.control-checkbox .form-switch .form-check-input:active {
    border-radius: 2rem;
}

.control-checkbox .form-switch {
    margin-bottom: 0;
    margin-left: 0.5rem;
}

.control-checkbox .form-check {
    min-height: 1rem;
}

.control-checkbox .form-switch .form-check-input {
    height: 1.3rem;
    width: 2.6rem;
    margin-top: 0;
    margin-right: .4rem;
    outline: 0;
    box-shadow: none;
    border: none;
    border-radius: 2rem;
}

.help .control-checkbox.input-group-text {
    width: calc(100% - (1rem + 1rem * 1.35));
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.help .control-checkbox .form-switch .form-check-input {
    right: calc(1rem + 1rem * 1.6);
    border-radius: 2rem;
}

.control-checkbox .form-switch .form-check-input:checked {
    border: none;
}

/* COLORS
*/
.control-checkbox .form-switch .form-check-input:focus,
.control-checkbox .form-switch .form-check-input {
    background-color: rgb(var(--elements-secondary-bg));
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(240,240,240,1)'/></svg>") !important;
}

.control-checkbox .form-switch .form-check-input:focus-visible {
    box-shadow: 0 0 0 .25rem rgb(var(--elements-primary-bg-shaded));
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(132,132,132,1)'/></svg>");
}
.control-checkbox .form-switch .form-check-input:checked {
    background-color: rgba(var(--elements-primary-bg), 1);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1)'/></svg>");
}
