:root, html {
    --td-font-color: rgb(var(--elements-main-text));
    --td-disabled-color: rgba(var(--elements-main-text), .4);
    --td-alternate-color: rgba(var(--elements-main-text), .4);
    --td-dow-color: rgba(var(--elements-main-text), .6);
}

.input-group-text[data-td-toggle=datetimepicker] {
    cursor: pointer;
}

.control-date .input-group-text {
    border-top-right-radius: var(--bs-border-radius-lg);
    border-bottom-right-radius: var(--bs-border-radius-lg);
}

.tempus-dominus-widget {
    box-shadow: 0 .25rem .75rem rgba(var(--bs-body-color-rgb), .15);
    padding-top: 1rem;
    padding-right: calc(var(--elements-spacing-y));
    padding-bottom: calc(var(--elements-spacing-y));
    padding-left: calc(var(--elements-spacing-y) * 2);
    width: auto;
}

.tempus-dominus-widget .date-container-days,
.tempus-dominus-widget .time-container-clock,
.tempus-dominus-widget .time-container-hour,
.tempus-dominus-widget .time-container-minute {
    grid-auto-columns: 2.5rem;
    grid-auto-rows: 2.5rem;
}

.tempus-dominus-widget .date-container-decades,
.tempus-dominus-widget .date-container-years,
.tempus-dominus-widget .date-container-months {
    grid-auto-columns: 3.5rem;
    grid-auto-rows: 2.5rem;
}

.tempus-dominus-widget .date-container,
.tempus-dominus-widget .time-container,
.tempus-dominus-widget .time-container-clock {
    margin: 0;
}

.tempus-dominus-widget .toolbar div {
    margin-right: calc(var(--elements-spacing-y));
    margin-bottom: calc(var(--elements-spacing-y));
}

.tempus-dominus-widget.light {
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
}

.tempus-dominus-widget .calendar-header {
    padding: .5rem
}

.tempus-dominus-widget,
.tempus-dominus-widget .toolbar div,
.tempus-dominus-widget .calendar-header,
.tempus-dominus-widget .time-container-clock div:hover,
.tempus-dominus-widget .time-container-hour div:hover,
.tempus-dominus-widget .time-container-minute div:hover,
.tempus-dominus-widget .date-container-decades div:not(.no-highlight),
.tempus-dominus-widget .date-container-years div:not(.no-highlight),
.tempus-dominus-widget .date-container-months div:not(.no-highlight),
.tempus-dominus-widget .date-container-days div:not(.no-highlight) {
    border-radius: var(--bs-border-radius-lg);
}

.tempus-dominus-widget.light .date-container-days :not(.no-highlight).today:hover:before {
    border-bottom-color: rgb(var(--elements-main-fg));
}

.tempus-dominus-widget .time-container-clock div,
.tempus-dominus-widget .time-container-hour div,
.tempus-dominus-widget .time-container-minute div,
.tempus-dominus-widget.light .date-container-days div,
.tempus-dominus-widget.light .date-container-months div,
.tempus-dominus-widget.light .date-container-years div,
.tempus-dominus-widget.light .date-container-decades div,
.tempus-dominus-widget .time-container-clock div:not(.no-highlight),
.tempus-dominus-widget .time-container-minute div:not(.no-highlight),
.tempus-dominus-widget .time-container-hour div:not(.no-highlight) {
    width: calc(100% - var(--elements-spacing-y));
    height: calc(100% - var(--elements-spacing-y));
}

/* COLORS
*/
.tempus-dominus-widget.light .date-container-decades div:not(.no-highlight).hover,
.tempus-dominus-widget.light .date-container-years div:not(.no-highlight):hover,
.tempus-dominus-widget.light .date-container-months div:not(.no-highlight):hover,
.tempus-dominus-widget.light .date-container-days div:not(.no-highlight):hover,
.tempus-dominus-widget.light .time-container-clock div:not(.no-highlight,.separator):hover,
.tempus-dominus-widget.light .time-container-hour div:not(.no-highlight):hover,
.tempus-dominus-widget.light .time-container-minute div:not(.no-highlight):hover,
.tempus-dominus-widget.light .toolbar div:hover {
    background-color: rgb(var(--elements-primary-bg-shaded));
}

.tempus-dominus-widget.light .date-container-decades div:not(.no-highlight).active,
.tempus-dominus-widget.light .date-container-years div:not(.no-highlight).active,
.tempus-dominus-widget.light .date-container-months div:not(.no-highlight).active,
.tempus-dominus-widget.light .date-container-days div:not(.no-highlight).active {
    background-color: rgb(var(--elements-primary-bg));
}

.tempus-dominus-widget.light .date-container-days div:not(.no-highlight).today:before,
.tempus-dominus-widget.light .date-container-days div:not(.no-highlight):not(.active):hover:before {
    border-bottom-color: rgb(var(--elements-primary-bg));
}
