.select2-container .select2-selection--single {
    user-select: text;
}

.select2-container {
    margin-left: 0 !important;
}

/* ARROW BUTTON */
.select2-container--bootstrap-5 .select2-selection--single {
    background-image: none;
}

.select2-container--bootstrap-5 .select2-selection--single:before {
    position: absolute;
    right: .75rem;
    top: .25rem;
    color: rgba(var(--elements-main-text), .7);
    font-family: FontAwesome;
    content: "\f107";
}

/* CANCEL BUTTON */
.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__clear,
.select2-container--bootstrap-5 .select2-selection--single .select2-selection__clear,
.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice .select2-selection__choice__remove {
    display: contents;
    text-indent: inherit;
    background-image: none;
    padding: .4rem;
}

.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__clear:after,
.select2-container--bootstrap-5 .select2-selection--single .select2-selection__clear:after {
    position: absolute;
    right: 2.5rem;
    top: .25rem;
    color: rgba(var(--elements-main-text), .7);
    font-family: FontAwesome;
    content: "\f00d";
}

.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice .select2-selection__choice__remove:after {
    color: rgba(var(--elements-main-text), .7);
    font-family: FontAwesome;
    content: "\f00d";
    padding-right: .5rem;
}

.input-group:has(.component-help) .select2-container {
    overflow-x: clip;
}

.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option {
    border-radius: var(--bs-border-radius);
    margin-top: var(--elements-spacing-y);
}

.select2-container--bootstrap-5 .select2-dropdown {
    padding: var(--elements-spacing-y);
    border-radius: var(--bs-border-radius-lg);
    box-shadow: 0 .25rem .75rem rgba(var(--bs-body-color-rgb), .15);
    background-color: rgba(var(--elements-main-fg), .6);
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
    border: none;
    color: rgb(var(--elements-main-text));
}

/* SINGLE */
.select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered .select2-selection__placeholder {
    opacity: .5;
}

.select2-container--bootstrap-5 .select2-selection {
    border-radius: var(--bs-border-radius-lg);
    font-weight: bold;
    padding: 0;
    padding-right: 1.2rem;
    min-height: calc(1rem + .75rem + 2px);
    border: none;
}

.select2-container--bootstrap-5.select2-container--disabled .select2-selection,
.select2-container--bootstrap-5.select2-container--disabled.select2-container--focus .select2-selection {
    cursor: default;
}

.select2-container--bootstrap-5 .select2-selection.select2-selection--clearable {
    padding-right: 2.5rem;
}

.select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered {
    padding: var(--elements-spacing-y) var(--elements-spacing-x);
    padding-right: 1rem;
    font-weight: bold;
    color: rgb(var(--elements-main-text));
}

.select2-container--bootstrap-5 .select2-selection--multiple {
    min-height: 2rem;
}

/* MULTIPLE */
.select2-container--bootstrap-5 .select2-selection--multiple .select2-search {
    display: none;
}

.select2-container--bootstrap-5 .select2-selection--multiple .select2-search .select2-search__field {
    padding: var(--elements-spacing-y) var(--elements-spacing-x);
    border-radius: 0;
    font-weight: bold;
    height: 1.5rem;
    margin-top: .1rem;
    margin-left: 0;
}

.select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field {
    border-radius: var(--bs-border-radius-lg);
    border: 0;
    background-color: rgb(var(--elements-main-bg));
    color: rgb(var(--elements-main-text));
}

.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    border-radius: var(--bs-border-radius);
    padding: 0 .5rem;
    margin: var(--elements-spacing-y);
    margin-right: 0;
    border: 0;
    color: rgb(var(--elements-main-text));
}

/* SELECTED */
.input-group:has(select[disabled]) .select2-selection__clear {
    cursor: pointer;
}

.input-group:has(select[disabled]) .select2-selection {
    background: none;
}

.input-group:has(select[disabled]) .select2-selection--clearable button {
    display: none;
}

/* COLORS
*/
.select2-container--bootstrap-5 .select2-selection {
    background-color: rgb(var(--elements-main-bg));
}

.select2-container--bootstrap-5.select2-container--focus .select2-selection,
.select2-container--bootstrap-5.select2-container--open .select2-selection {
    border-color: rgb(var(--elements-primary-bg-shaded));
    box-shadow: 0 0 0 .25rem rgb(var(--elements-primary-bg-shaded));
}

.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    background-color: rgb(var(--elements-primary-bg-shaded));
}

.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option.select2-results__option--selected,
.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option[aria-selected=true]:not(.select2-results__option--highlighted) {
    color: rgb(var(--elements-primary-text));
    background-color: rgb(var(--elements-primary-bg));
}

.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option.select2-results__option--highlighted:not(.select2-results__option.select2-results__option--selected) {
    color: rgb(var(--elements-main-text));
    background-color: rgb(var(--elements-primary-bg-shaded));
}

.select2-container--bootstrap-5.select2-container--disabled .select2-selection,
.select2-container--bootstrap-5.select2-container--disabled.select2-container--focus .select2-selection {
    background-color: rgba(var(--elements-main-bg), .4) !important;
    color: rgba(var(--elements-main-text), .7) !important;
}
