.control-textarea textarea,
.control-textarea textarea:focus {
    padding: calc(var(--elements-spacing-y) * 1.3) var(--elements-spacing-x);
    border-radius: var(--bs-border-radius-sm) !important;
    border: none;
    resize: none;
}

.control-textarea label {
    position: absolute;
}

.control-textarea.maxlength:not(.readonly) textarea {
    padding-bottom: 3rem !important;
}

.control-textarea.maxlength label {
    padding: 5px 15px;
    bottom: 0;
    right: 0;
    font-weight: normal;
}

.control-textarea.maxlength.readonly label {
    display: none;
}