.input-group-text {
    padding: var(--elements-spacing-y) var(--elements-spacing-x);
}

.input-group:has(.control-text-field) :first-child {
    border-top-left-radius: var(--bs-border-radius-lg);
    border-bottom-left-radius: var(--bs-border-radius-lg);
}

.input-group:has(.control-text-field) :last-child {
    border-top-right-radius: var(--bs-border-radius-lg);
    border-bottom-right-radius: var(--bs-border-radius-lg);
}

.input-group .input-group-text {
    border-top-left-radius: var(--bs-border-radius-lg) !important;
    border-bottom-left-radius: var(--bs-border-radius-lg) !important;
    padding-right: var(--bs-border-width);
}

.input-group ::placeholder {
    color: rgb(var(--elements-tertiary-text));
    font-weight: normal;
    opacity: .5;
}

.input-group ::-ms-input-placeholder { /* Edge 12 -18 */
    color: rgb(var(--elements-tertiary-text));
    font-weight: normal;
    opacity: .5;
}