.control-upload {
    padding: 0 .75rem;
    min-height: auto;
    align-content: center;
    text-align: center;
}

.control-upload .dz-message {
    margin: 0;
    display: inline;
}

.control-upload .dz-message .dz-button {
    font-size: 1.1rem;
    font-weight: bold;
}

.control-upload .dz-preview .dz-details .dz-size {
    margin-bottom: .25rem;
}

.control-upload .dz-preview .dz-image {
    width: 6rem;
    height: 6rem;
}

.control-upload .dz-preview.dz-file-preview,
.control-upload .dz-preview.dz-image-preview {
    background-color: transparent;
}

.dropzone .dz-preview.dz-file-preview .dz-details {
    margin-top: -.2rem;
}

.control-upload .dz-preview.dz-file-preview .dz-image,
.control-upload .dz-preview.dz-image-preview .dz-image {
    border-radius: var(--bs-border-radius-xl);
}

.control-upload .dz-preview.dz-file-preview .dz-details::before {
    font-family: var(--fa-style-family-classic);
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: .75rem;
    display: block;
    content: "\f15b";
}

.control-upload .dz-preview .dz-details {
    font-size: .75rem;
}

.control-upload .dz-preview.dz-file-preview .dz-remove {
    font-size: .75rem;
    position: relative;
    z-index: 9999;
}

.control-upload .dz-preview.dz-error .dz-error-message {
    display: none !important;
}

/* COLORS
*/
.control-upload {
    background-color: rgb(var(--elements-primary-bg-shaded));
}

.control-upload .dz-message .dz-button {
    color: rgb(var(--elements-primary-bg)) !important;
}

.control-upload .dz-preview.dz-file-preview .dz-image {
    background: rgba(var(--elements-secondary-bg), .5);
}

.control-upload .dz-preview .dz-remove {
    color: rgb(var(--elements-primary-bg));
}

.control-upload[readonly] {
    background-color: rgb(var(--elements-tertiary-bg));
}

.control-upload[readonly] .dz-message .dz-button {
    color: rgb(var(--elements-secondary-bg)) !important;
}
