#shell-navbar {
    z-index: 1001 !important;
    margin-left: 15rem;
    padding: .5rem;
    height: 3.3rem;
    background-color: rgba(var(--elements-tertiary-bg), .7);
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
}

#shell-navbar.has-sticky {
    background-color: rgb(var(--elements-tertiary-bg));
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
}

#shell-navbar-menu-toggle button:hover,
#shell-navbar-menu-toggle button:focus,
#shell-navbar-menu-toggle button:active,
#shell-navbar-menu-toggle button {
    border: 0;
    padding: var(--elements-spacing-y) var(--elements-spacing-x);
    background: none;
    color: #333333;
}

#shell-navbar-home {
    margin-left: .5rem;
}

#shell-navbar-home a:hover,
#shell-navbar-home a:focus,
#shell-navbar-home a:active,
#shell-navbar-home a {
    margin-left: -.5rem;
    border: 0;
    background: transparent;
    color: #333333;
}

#shell-navbar-logo {
    height: 1.6rem;
}

#shell-navbar:has(#shell-navbar-home) #shell-navbar-logo {
    /* Hack to optically (more or less) center the title,
     * we need to find the proper way of doing it
     */
    transform: translateX(-.8rem);
}

#shell-navbar-notifications-toggle button:hover,
#shell-navbar-notifications-toggle button:focus,
#shell-navbar-notifications-toggle button:active,
#shell-navbar-notifications-toggle button {
    border: 0;
    padding: var(--elements-spacing-y) var(--elements-spacing-x);
    background: none;
}

#shell-navbar-notifications-toggle div {
    padding: 1px 10px 1px 10px;
    border-radius: var(--bs-border-radius-xl);
}

#shell-navbar-user-menu-toggle button:focus,
#shell-navbar-user-menu-toggle button:hover,
#shell-navbar-user-menu-toggle button:active,
#shell-navbar-user-menu-toggle button {
    border: 0;
    padding: var(--elements-spacing-y) var(--elements-spacing-x);
    background: none;
    color: #333333;
}
