.component-form {
    border-radius: var(--bs-border-radius-lg);
    background-color: white;
    margin-bottom: .25rem;
}

.component-form form {
    padding: .75rem;
    padding-top: .25rem;
}

.component-form .component-label:not(.html):not(.tag) {
    padding-left: .25rem;
}

.component-form .row>* {
    padding-right: .25rem;
    padding-left: .25rem;
}