.component-form {
    border-radius: var(--bs-border-radius-lg);
    background-color: white;
    margin-bottom: calc(var(--elements-font-size) * .25);
}

.component-form form {
    padding: calc(var(--elements-font-size) * .75);
    padding-top: calc(var(--elements-font-size) * .25);
}

.component-form .component-label:not(.html):not(.tag) {
    padding-left: calc(var(--elements-font-size) * .25);
}

