.component-label {
    border-radius: 0;
    padding-left: .25rem;
}

.component-label.border {
    padding: var(--elements-spacing-y) var(--elements-spacing-x);
    border-radius: var(--bs-border-radius-lg);
    border: none !important;
    height: 100%;
}

.component-label.text-monospace.border {
    padding: 7px 9px;
}

.no-wrap,
.no-wrap span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.soft-wrap span {
    white-space: normal;
    word-wrap: break-word;
}

.line-wrap span {
    white-space: pre-line;
    word-wrap: break-word;
}

.line-break span {
    white-space: pre;
    word-wrap: break-word;
    overflow-x: scroll;
}
