.tooltip {
    --bs-tooltip-font-size: calc(var(--elements-font-size) * .9);
    --bs-tooltip-color: rgb(var(--bs-light-rgb));
    --bs-tooltip-bg: #303030;
}

.component-label {
    border-radius: 0;
}

.component-label.tag {
    padding: var(--elements-spacing-y) var(--elements-spacing-x);
    border-radius: var(--bs-border-radius-lg);
    border: none !important;
    height: 100%;
}

.component-label.text-monospace.tag {
    padding: 7px 9px;
}

.no-wrap,
.no-wrap .text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.soft-wrap .text {
    white-space: normal;
    word-wrap: break-word;
}

.line-wrap .text {
    white-space: pre-line;
    word-wrap: break-word;
}

.line-break .text {
    white-space: pre;
    word-wrap: break-word;
    overflow-x: scroll;
}
