.btn,
input[type] {
    font-size: var(--elements-font-size);
    padding: var(--elements-spacing-y) var(--elements-spacing-x);
}

.space {
    margin-right: var(--elements-spacing-x);
}

.component-form label {
    margin: .5rem 0 0 .25rem;
    font-size: calc(var(--elements-font-size) * .85);
    color: rgba(var(--elements-tertiary-text), 0.4);
}

.component-form label i {
    font-style: normal;
    font-weight: bold;
    color: #cc0000;
}

.component-form .input-group {
    margin-top: calc(var(--elements-font-size) * -.3);
}

.component-form select,
.component-form textarea,
.component-form textarea:focus,
.component-form input,
.component-form input:focus {
    border-radius: var(--bs-border-radius-lg);
    border: none;
    font-weight: bold;
}


.input-group:has([readonly], [disabled]) > span:not(.select2),
.input-group:has([readonly], [disabled]) > a,
.input-group:has([readonly], [disabled]) > a:hover,
.input-group:has([readonly], [disabled]) > a:focus,
.input-group:has([readonly], [disabled]) > a:focus:hover,
.input-group:has([readonly], [disabled]) > select,
.input-group:has([readonly], [disabled]) textarea,
.input-group:has([readonly], [disabled]) > input,
.input-group .component-select[disabled] + .select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered {
    box-shadow: none !important;
    cursor: default;
}

.component-form .input-group-text {
    border-top-left-radius: var(--bs-border-radius-lg) !important;
    border-bottom-left-radius: var(--bs-border-radius-lg) !important;
    border: none;
    font-weight: bold;
    padding-right: 0;
}

.component-form .input-group input ~ a,
.component-form .input-group .dropdown ~ a {
    margin-right: 1px;
}

.component-form .help-message td {
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.component-form .error-message,
.component-form .help-message {
    font-size: calc(var(--elements-font-size) * .85);
    padding: calc(var(--elements-font-size) * .25);
}

.component-form .input-group .component-help,
.component-form .input-group .component-help:hover {
    border: none;
}

.component-form .error-icon,
.component-form .error-message {
    color: #cc0000;
}

.input-group {
    flex-flow: nowrap;
}

/* COLORS
*/
input:focus,
input:focus-visible,
.btn.btn-secondary:focus-visible,
.btn.dropdown-toggle:focus-visible {
    box-shadow: 0 0 0 calc(var(--elements-font-size) * .25) rgba(var(--elements-primary-bg-shaded)) !important;
}

.input-group:has(.form-control) a.btn,
.input-group:has(.form-control) a.btn:hover,
.input-group:has(.form-control) a.btn:focus,
.input-group:has(.form-control) a.btn:active,
.input-group:has(.form-control) .dropdown-toggle,
.input-group:has(.form-control) .dropdown-toggle:hover,
.input-group:has(.form-control) .dropdown-toggle:focus,
.input-group:has(.form-control) .dropdown-toggle:active,
.input-group-text,
.input-group .component-help, .input-group .component-help:hover,
.input-group textarea, .input-group textarea:focus,
.input-group input, .input-group input:focus {
    background-color: rgb(var(--elements-tertiary-bg));
    color: rgb(var(--elements-tertiary-text));
}

.input-group-text {
    color: rgba(var(--elements-tertiary-text), .7);
}

.input-group:has([readonly], [disabled]) > span:not(.select2),
.input-group:has([readonly], [disabled]) > a,
.input-group:has([readonly], [disabled]) > a:hover,
.input-group:has([readonly], [disabled]) > a:focus,
.input-group:has([readonly], [disabled]) > a:focus:hover,
.input-group:has([readonly], [disabled]) > select,
.input-group:has([readonly], [disabled]) textarea,
.input-group:has([readonly], [disabled]) > input,
.input-group:has([readonly], [disabled]) > button {
    background-color: rgba(var(--elements-tertiary-bg), .4) !important;
    color: rgba(var(--elements-tertiary-text), .7) !important;
    opacity: 1;
}

.input-group:has([readonly], [disabled]) .component-help,
.input-group:has([readonly], [disabled]) .component-help:hover {
    background-color: rgba(var(--elements-tertiary-bg), .4) !important;
    color: rgb(var(--elements-tertiary-text)) !important;
}