.component-header {
    padding-top: 0.25rem;
    padding-bottom: 1rem;
    width: 100%;
}

.component-header .btn-group a.btn,
.component-header .btn-group a.btn:hover,
.component-header .btn-group a.btn:focus,
.component-header .btn-group a.btn:active,
.component-header .btn-group button:hover,
.component-header .btn-group button:focus,
.component-header .btn-group button:active,
.component-header .btn-group button {
    background-color: white;
    color: #333333;
    font-weight: normal;
}

.component-header .navbar-text {
    font-size: calc(var(--elements-font-size) * 1.1);
    font-weight: bold;
    margin-top: calc(var(--elements-font-size) / 8);
    margin-left: -.5rem;
    padding: 0;
}

.component-header-back > .component-button {
    padding-right: .15rem;
}

/* COLORS
*/
.component-header {
    background-color: rgb(var(--elements-tertiary-bg));
}
