.component-link span {
    padding-right: var(--elements-spacing-y);
}

.input-group:has(.component-link[readonly]) {
    cursor: default;
}

.component-link {
    cursor: pointer;
}

.component-link[readonly] {
    pointer-events: none;
}

.btn:focus-visible,
button:focus-visible,
.nav-link:focus-visible {
    box-shadow: 0 0 0 .25rem rgb(var(--elements-primary-bg-shaded));
}

.component-link:has([data-21-component]) {
    text-decoration: none;
}