.component-separator {
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 0;
    overflow: hidden;
}

.component-separator.squeeze {
    margin-top: .25rem;
}

.component-separator i {
    margin-right: .5rem;
}

/* COLORS
*/
.component-separator {
    border-bottom: var(--bs-border-width) solid rgb(var(--elements-tertiary-bg));
}
