.component-filters-buttons.btn-group .btn:hover,
.component-filters-buttons.btn-group .btn:active,
.component-filters-buttons.btn-group .btn:focus,
.component-filters-buttons.btn-group .btn {
    color: rgb(var(--elements-main-text));
    background-color: rgb(var(--elements-main-fg));
}

.component-filters-search {
    margin-left: var(--bs-border-width);
}

.component-filters-toggle:not(.btn.collapsed) {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.component-filters-toggle.dropdown-toggle:after {
    transform: rotate(-180deg);
}

.component-filters-toggle.dropdown-toggle.collapsed:after {
    transform: rotate(0deg);
}

.component-filters-toggle.dropdown-toggle:after {
    transition: .35s;
}

.component-filters-counter {
    color: rgb(var(--elements-primary-text));
    background-color: rgb(var(--elements-primary-bg));
    font-size: .7rem;
    border-radius: 1rem;
    display: inline-block;
    min-width: 1.05rem;
    margin-left: -.3rem;
}

.component-filters-box {
    background-color: rgba(var(--elements-main-fg), .75) !important;
}