.pagination {
    margin: 0 0 0 5px !important;
}

.pagination-container .btn-group {
    vertical-align: top;
}

.pagination-container .dropdown-menu {
    min-width: 0;
}

.pagination-total .dropdown-toggle {
    cursor: default;
    webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.pagination > a, .pagination > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
}

.pagination > a:focus, .pagination > a:hover, .pagination > span:focus, .pagination > span:hover {
    z-index: 2;
}

.pagination > :first-child {
    margin-left: 0;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.pagination > :last-child {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.pagination > .currentStep, .pagination > .active {
    z-index: 3;
    cursor: default;
}

.pagination > .gap {
    /*display: none;*/
}

.pagination > .prevLink, .pagination > .nextLink {
    font-family: Font Awesome\ 6 Free, Font Awesome\ 5 Pro, Font Awesome\ 5 Free;
    font-weight: 900;
}

.pagination > .prevLink:before {
    content: "\f104"; /*fa-angle-left*/
}

.pagination > .nextLink:before {
    content: "\f105"; /*fa-angle-right*/
}

#paginationLoader {
    float: left;
    margin: 6px 10px;
}

@media print {
    .pagination-container .btn-group > button {
        border-width: 0 !important;
        font-size: 10px !important;
    }

    .pagination-container .btn-group > button > .caret {
        display: none !important;
    }

    .pagination-container .pagination {
        display: none !important;
    }
}
